@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap');

.lista-area,
.cabecalho-area{
    position: fixed;
    left: 420px;
    right: 120px;
}

.lista-area{
    top: 210px;
}

.lista-cabecalho{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 136px;
    margin-bottom: 18px;

}

.lista-botao,
.lista-titulo{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    margin: 18px 0;
}

.lista-botao{
    width: 50px;
    height: 50px;
    background-color: #7D3CCF;
    border-radius: 50%;

    color: white;
    text-align: center;

    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));

    cursor: pointer;
}

.lista-pesquisa{
    border: 2px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    height: 30px;
    
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 18px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.lista-item{
    margin-top: 10px;
    height: 50px;
    border-radius: 4px;
    background-color: white;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;

    cursor: pointer;
}